<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
</head>

<body>
    <h1>Order Confirmation from Adorna Jewelry</h1>

    <p>Dear {{customerName}},</p>

    <p>Thank you for placing an order with Adorna Jewelry. We are pleased to confirm that your order has been received and is currently being processed. Below are the details of your order:</p>
    <h2>Order Details:</h2>
    <ul>
        <li><strong>Code Order:</strong> {{codeOrder}}</li>
        <li><strong>Order Date:</strong> {{orderDate}}</li> 
        <li><strong>Total Order Value:</strong> {{totalOrderValue}} VND</li>
    </ul>
    <p><strong>Payment Method:</strong>Cash on delivery</p>
    <h2>Shipping Address:</h2>
    <p>
        <strong>Recipient Name:</strong> {{recipientName}}<br>
        <strong>Shipping Address:</strong> {{address}}<br>
        <strong>Contact Phone Number:</strong> {{contactPhoneNumber}}
    </p>
    <p>We appreciate your business and look forward to providing you with excellent service. Thank you for choosing Adorna Jewelry.</p>
    <p>Warm regards,<br>
      Adorna Jewelry<br>
</body>
       
</html>
